# dependencies
node_modules

# ghost
.build
.dist
.tmp

/core/server/data/export/exported*
/content/tmp/*
/content/data/*
/content/logs/*
/content/settings/*
/content/apps/**/*
/content/themes/**/*
/content/images/**/*
/content/adapters/storage/**/*
/content/adapters/scheduling/**/*
!/content/themes/casper/**
!/README.md
!/content/**/README.md

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vscode workspace
/.vscode
